{
  "env": {
      "browser": true,
      "es2021": true,
      "node": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:vue/vue3-essential",
      "plugin:@typescript-eslint/recommended",
      "@nuxtjs/eslint-config-typescript"
  ],
  "parserOptions": {
      "ecmaVersion": "latest",
      "parser": "@typescript-eslint/parser",
      "sourceType": "module"
  },
  "plugins": [
      "vue",
      "@typescript-eslint"
  ],
  "rules": {
    "brace-style": ["error", "1tbs"],
    "semi": ["error", "always"],
    "vue/no-v-model-argument": "off",
    "vue/component-tags-order": [
        "error",
        {
            "order": ["style", "template", "script"],
        }
    ],
  }
}